body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f8edeb;
}

.button{
background: none;
color:#5e60ce;
border: 2px solid;
padding: 1em 2em;
font-size: 1em;
transition: all 0.25s;
}

.button:hover {
border-color:#80ffdb;
color:white;
box-shadow: 0 0.5em 0.5em -0.4em #d4d700;
transform: translateY(-0.25em);
cursor: pointer;

}